:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color-text: #ffffff;
  --primary-bg: #e5e5e5;
  --secondary-bg: #f5f4fa;
  --dark-bg: #2f303a;
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

body {
  background-color: var(--primary-bg);
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  outline: 2px solid tomato;
}

header {
  background-color: var(--white-color-text);
}

.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  padding-top: 24px;
}

span {
  color: var(--accent-color);
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list a {
  list-style: none;
  text-decoration: none;
}

.site-nav a {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .current {
  color: var(--accent-color);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}
/* Контакты */
.contacts a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}
.hero {
  background-color: var(--dark-bg);
  color: var(--white-color-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: 94px;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
}

.button {
  color: var(--white-color-text);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  position: absolute;
  margin-right: 700px;
  margin-left: 700px;
}

.section {
  color: var(--primary-text-color);
  padding-bottom: 94px;
}

.section-title1 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.section p {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 0;
}

.section-title,
.section-title-team {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.section-title-team {
  padding-top: 94px;
}
.our-team {
  background-color: var(--secondary-bg);
}
.name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.our-team p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.footer {
  background-color: var(--dark-bg);
  color: var(--white-color-text);
}

.contacts-footer a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  list-style: none;
}

.logo-footer {
  color: var(--white-color-text);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

/* Portolio */

.filter {
  list-style: none;
  margin-bottom: 34px;
}

.button-filter {
  color: var(--title-text-color);
  background-color: var(--secondary-bg);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
}

.button-filter:hover,
.button-filter:focus {
  color: var(--white-color-text);
  background-color: var(--accent-color);
}
.examples-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.p-title {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

/* цвет текста в ли под ПУнктуал #757575 */
/* акцент #2196f3 */
/* основной #212121 */
/* background-color: #ffffff; шапки */
