:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color-text: #ffffff;
  --primary-bg: #e5e5e5;
  --secondary-bg: #f5f4fa;
  --dark-bg: #2f303a;
}

body {
  background-color: var(--primary-bg);
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  text-decoration: none;
}

header {
  background-color: var(--white-color-text);
}

.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

span {
  color: var(--accent-color);
}
.list {
  list-style: none;
}

.list a {
  list-style: none;
  text-decoration: none;
}

.site-nav a {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .current {
  color: var(--accent-color);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}
/* Контакты */
.contacts a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}
.decision {
  background-color: var(--dark-bg);
  color: var(--white-color-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section {
  color: var(--primary-text-color);
}

.section-title1 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.section p {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.button {
  color: var(--white-color-text);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.our-team {
  background-color: var(--secondary-bg);
}
.name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.our-team p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.footer {
  background-color: var(--dark-bg);
  color: var(--white-color-text);
}

address {
  text-decoration: none;
  font-style: normal;
}

.contact-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
}

.logo-footer {
  color: var(--white-color-text);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

/* Portolio */

.filter {
  list-style: none;
}

.button-filter {
  color: var(--title-text-color);
  background-color: var(--secondary-bg);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.button-filter:hover,
.button-filter:focus {
  color: var(--white-color-text);
  background-color: var(--accent-color);
}
.examples-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.p-title {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

/* цвет текста в ли под ПУнктуал #757575 */
/* акцент #2196f3 */
/* основной #212121 */
/* background-color: #ffffff; шапки */
